input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #eee inset;
    -webkit-text-fill-color: #333;
    transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill::first-line {
    font-family: inherit;
    font-size: inherit;
}